@import "/src/Utils/style/variables";
.Break{
    h4{
        color: $graycolor;
        font-size: 15px;
        margin-left: 12px;
       }
        h3{
            margin-top: -50px;
            margin-left: 90px;
            font-size: 15px;
            
        }
        &__background{
            position: relative;
            img{
                width: 100%;
            }
            h2{
                position: absolute;
                top: 50px;
                left: 550px;
                color: $whitwecolor;
                font-size: 65px;
                font-weight: 700;
            }
        }
}