$mainfont: "700";
$italicfont: "300";
$browncolor: #BE1E2D;
$whitwecolor: #fff;
$graycolor: gray;
$blackcolor: #000;
$pinkcolor: #F4C6C6;
$greencolor: #82C052;
$orangecolor: #FCDB88;
$skycolor: #8FF9F2;
$bluecolor: #82A7ED;
$bringalcolor: #E582F5;
$redcolor: red;
