@import "/src/Utils/style/mediaQuery";
@import "/src/Utils/style/variables";
.HomePage{
    
    &__title{
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        a{
            color: $blackcolor;
            text-decoration: none;
        }
    }
    &__title2{
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        margin-top: 80px;
      
    }
    &__icon{
        text-align: center;
    }
    &__icon:before{
        content: "";
        display: block;
        width: 120px;
        height: 2px;
        background: $blackcolor;
        position: absolute;
        top: 860px;
        left: 610px;
     }
     &__icon:after{
        content: "";
        display: block;
        width: 120px;
        height: 2px;
        background: $blackcolor;
        position: absolute;
        top: 860px;
        right: 610px;
     }
     &__background img{
        width: 100%;
        margin-top: 15px;
        @include for-size(phone-only){
            width: 1198px; 
            }
        
overflow-x: hidden;

     }
     &__icon2{
        text-align: center;
     }
     &__icon2:before{
        content: "";
        display: block;
        width: 120px;
        height: 2px;
        background:$blackcolor;
        position: absolute;
        top:1500px;
        left: 610px;
     }
     &__icon2:after{
        content: "";
        display: block;
        width: 120px;
        height: 2px;
        background: $blackcolor;
        position: absolute;
        top: 1500px;
        right: 610px;
     }
     &__background2{
        img{
            width: 100%;
             position: relative;
             margin-top: 40px;
           
         }
     }
     &__txt{
        h2{
            color: $whitwecolor;
            position: absolute;
            top: 2040px;
            left: 500px;
            font-size: 40px;
            font-weight: 600;
        }
        h4{
            position: absolute;
            top: 2100px;
            left: 540px;
            font-size: 20px;
            color: $whitwecolor;
            font-weight: 300;
        }
        .btn{
            position: relative;
            top: -214px;
            left: 671px;
            border: 2px solid $whitwecolor;
            background: $whitwecolor;
            border-radius: 20px;
            color: $blackcolor;
            font-weight: 700;
        }
     }
 

}
