@import "/src/Utils/style/mediaQuery";
@import "/src/Utils/style/variables";
.Product2{
    @include for-size(phone-only){
       display: none;
        }
  display: flex;
  
  

   &__imageBox{
     width: 100%;
     height: 30vh;
     text-align: center;
     @include for-size(phone-only){
        width: 243px;
        height: 100px;
        margin-left: 1150px;
        display: none;
        }
     
   }
  
  
   &__main{
       background: $browncolor;
       width: 250px;
       height: 425px;
       border-radius: 15px;
       @include for-size(phone-only){
        display: none;
         }
       
           h2{
               color: $whitwecolor;
               font-size: 20px;
               margin-left: 20px;
               font-weight: 700;
               @include for-size(phone-only){
                display: none;
                 }
           }
        
           p{
               font-size: 27px;
               margin-left: 65px;
               font-weight: 400;
               color: $whitwecolor;
               @include for-size(phone-only){
                display: none;
                 }
           }
   
   }
   &__contentBox{
       display: block;
       h3{
           font-size: 18px;
         text-align: center;
font-weight: 700;
           color: $whitwecolor;
           @include for-size(phone-only){
            display: none;
             }
           span{
            font-weight: 700;
            margin-left: 5px;
            @include for-size(phone-only){
                display: none;
                 }
           }
       }
      
       p{
           font-size: 27px;
           margin-left: 95px;
           font-weight: 400;
           @include for-size(phone-only){
            display: none;
             }
       }
     
       
   
   }
 
   &__fiveStar{
       color: $whitwecolor;
       margin-left: 30px;
       @include for-size(phone-only){
        display: none;
         }
       span{
           color:$whitwecolor;
           font-size: 15px;
           font-weight: 400;
           @include for-size(phone-only){
            display: none;
             }
       }
   }
   &__btn{
       text-align: center;
       border: 10px;

       button{
           border: none;
           background: $pinkcolor;
           font-size: 16px;
           font-weight: $mainfont;
           margin-top: 10px;
           @include for-size(phone-only){
            display: none;
             }
           
       }
   }
   &__second{
    margin-top: 10px;
   }
 
}
.blankStar{
   color: $whitwecolor !important;
}